p50 {
font-family: 'Courier New', Courier, monospace;
color: pink;
size: 50;
}
h1{
    font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkblue;
}
p2{
    font-family: 'Courier New', Courier, monospace;
    color: lightcoral;
    size:50;
}